using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Rbac.Entity
{
    public static class ModuleEntity
    {
        public static void build(this ModelBuilder modelBuilder)
        {
            #BuilderSetting#
        }
    }
}
