using Rbac.Entity;
using Rbac.IRepository;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Rbac.Repository
{
    public class #ModuleName#Repository : BaseRepository<#ModuleName#, int>, I#ModuleName#Repository
    {
        private RbacDbContext _db;

        public #ModuleName#Repository(RbacDbContext db)
        {
            this.__db = db;
            this._db = db;
        }
    }
}
